$blue: #5CACEE;
$grey: #AAA;
$lightgrey: #CECECE;
$darkgrey: #919191;
$white: #FFF;
$greybg: #F6F6F6;
$black: #000000;

.all {
	width: 100%;
	height: 100%;
	background-color: $greybg;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.smBreak {
	margin-top: 1.3rem;
}

.smBreak2 {
	margin-top: 0.6rem;
}

.smBreak3 {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
}

.smBreak4 {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

.navBar {
	width: 100%;
	background-color: $white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	padding: 1rem;
}

.navBarHidden {
	@extend .navBar;
	display: none;
}

.navBarBtn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navTxt {
	color: $grey;
	padding-top: 0.5rem;
	font-size: 0.95rem;
}

.navTxtB {
	@extend .navTxt;
	color: $blue;
}

.blueTxt {
	color: $blue;
	font-size: 1.1rem;
}

.tBan {
	width: 100%;
	height: 4rem;
	background-color: $blue;
	align-items: center;
}

.tBanTitle {
	color: $white;
	font-size: 1.5rem;
}

.title {
	color: $darkgrey;
	font-size: 1.95rem;
}

.steps2 {
	color: $darkgrey;
	font-size: 1rem;
	text-align: left;
	width: 19rem;
}

.steps1 {
	color: $darkgrey;
	font-size: 1.1rem;
	text-align: center;
}

.steps {
	color: $darkgrey;
	font-size: 1.1rem;
	text-align: left;
}

.inptIcnCont {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.inptCheckCont {
	width: 19rem;
	height: 2.7rem;
	display: flex;
	align-items: flex-end;
}

.inptCheck {
	position: absolute;
	width: 19rem;
	height: 2.7rem;
	display: flex;
	color: $blue;
	background-color: $white;
	font-size: 1.1rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
	padding-left: 1rem;
}

.checkBox {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-right: 0.5rem;
}

.check {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
}

.inpt {
	width: 19rem;
	height: 2.7rem;
	display: flex;
	color: $blue;
	background-color: $white;
	font-size: 1.1rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
	padding-left: 1rem;
}

.star {
	width: 18rem;
	color: $grey;
	font-size: 0.85rem;
}

.qInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qMrk {
	width: 1.1rem;
	height: 1.1rem;
	background-color: $blue;
	border-radius: 10rem;
	justify-content: center;
	align-items: center;
}

.qMrkTxt {
	color: $white;
}

.btn {
	width: 8.5rem;
	height: 2.8rem;
	background-color: $blue;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
}

.greyBtn {
	@extend .btn;
	background-color: $darkgrey;
}

.btnTxt {
	color: $white;
	font-size: 1.2rem;
}

.btnM {
	width: 16rem;
	height: 5.5rem;
	background-color: $blue;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
}

.btnMCont {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btnMTxt {
	color: $white;
	font-size: 2rem;
	margin-left: 0.8rem;
}

.txtMsgInpCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inptTxtMsg {
	width: 18rem;
	height: 10rem;
	color: $blue;
	font-size: 0.9rem;
	border-radius: 0.5rem;
	background-color: $white;
	padding: 1rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
}

.timeTitles {
	display: flex;
	align-items: center;
}

.timeCont {
	height: 4.5rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.timeDis {
	position: absolute;
	color: $grey;
	font-size: 2.5rem;
}

.displayStop {
	position: absolute;
}

.stopBtn {
	width: 2rem;
	height: 2rem;
}

.timeLength {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.timerInputContainer {
	display: flex;
	flex-direction: row;
}

.stopTimeTxt {
	width: 100%;
	text-align: center;
	color: $darkgrey;
	font-size: 1.1rem;
	padding-bottom: 0.8rem;
	padding-top: 0.5rem;
}

.BtnCont {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pausePlayBtnCont {
	@extend .BtnCont;
}

.btnTTxt {
	color: $white;
	font-size: 1.2rem;
	margin-left: 0.5rem;
}

.setInpBtnCont {
	width: 20rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.checkBoxSet {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-right: 0.5rem;
}

.setInptBox {
	height: 2.6rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flexGrow: 1;
	margin-right: 0.5rem;
}

.setInpt {
	position: absolute;
	height: 2.6rem;
	width: 100%;
	display: flex;
	color: $blue;
	background-color: $white;
	font-size: 1.1rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
	margin-right: 0.5rem;
	padding-left: 1rem;
}

.setInptValid {
	@extend .setInpt;
	border: 0.2rem solid green;
}

.setInptInvalid {
	@extend .setInpt;
	border: 0.2rem solid red;
}

.contNum {
	height: 2.6rem;
	display: flex;
	justify-content: center;
	flexGrow: 1;
	background-color: $white;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
	margin-right: 0.5rem;
	padding-left: 1rem;
}

.setBtnsCont {
	width: 20rem;
	height: 3rem;
	background-color: $white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.3rem 0.1rem $lightgrey;
}

.setPhnNum {
	color: $grey;
	font-size: 1.1rem;
}

.setBtnL {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.setBtnsTitle {
	color: $grey;
	font-size: 1.1rem;
	margin-left: 1rem;
}

.setArw {
	color: $grey;
	font-size: 1.2rem;
	font-weight: 900;
}

.faqTxt {
	text-align: left;
	padding: 1.5rem;
}

.faqTxtParas {
	color: $grey;
	font-size: 0.9rem;
}

.stopBtnHidden {
	display: none;
}

.stopBtnShowing {
	display: flex;
}

.blckBG {
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	display: flex;
}

.blckBGhidden {
	@extend .blckBG;
	display: none;
}

.whiteBG {
	width: 90%;
	background-color: white;
	border-radius: 0.7rem;
}

.faqPopup {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.faqPopupHidden {
	display: none;
}

.faqX {
	width: 1.2rem;
	height: 1.2rem;
	margin-top: 5%;
	margin-left: 90%;
}
